<form [formGroup]="form" class="p-5 d-flex flex-wrap w-100 h-100 flex-row-reverse">
  <div class="w-100">
    <mat-form-field class="w-100">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="!emailFormControl.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>
  </div>
  <button type="submit" class="align-self-end" mat-raised-button color="primary">Login</button>
</form>
